# Ignore everything
/**

# Unignore this file
!/.gitignore

# Unignore a couple top-level config files
!configuration.yaml
!automations.yaml
!scenes.yaml
!scripts.yaml
!secrets.example.yaml

# Unignore the config directory where all of our other configs reside
!/config
!/config/**/*

# Unignore the rtl_433 directory
!/rtl_433
!/rtl_433/**/*

# Unignore the esphome directory
!/esphome
!/esphome/**/*
!/esphome/StartLocalESPHome.sh

# Unignore the www directory
!/www
!/www/**/*

# Unignore the node red flow file
!/node-red/flows.json


